<p style="color: green"><%= notice %></p>

<%= render @property %>
<div class="row g-5">
  <div class="col-md-6 justify-content-between">
    <h2>Comments</h2>
    <%= link_to "Add a comment", new_property_comment_path(@property) %>
  </div>
</div>

<div class="list-group w-auto">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
